
.nav-header {
  background-color: #fff159;
  height: 60px;
  display: flex;
  justify-content: center;
}

.nav-search {
  background-color: #fff159;
  width: 1200px;
  margin: 10px 20px;
  display: flex;
  flex-wrap: nowrap;
}

.nav-logo {
  margin-top: 5px;
  margin-right: 20px;
}

.nav-logo #logo2 {
  display: none;
}

.form-search {
  display: flex;
  width: 100%;
}

.div-form-search {
  display: flex;
  width: 100%;
}

#input-search {
  color: #6c6c6c;
}

#input-search::placeholder {
  color: #d1d1d1;
  font-size: 17px;
}

.main-container {
  width: 1200px;
  margin: auto;
}

@media (max-width: 1023px) {
  .nav-logo {
    margin-right: 20px;
  }
}

@media (max-width: 600px) {
  .nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  
  .nav-logo #logo1 {
    display: none;
  }

  .nav-logo #logo2 {
    display: block;
  }
}