.list-products {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.product p {
  margin: 0;
  font-size: 18px;
}

.product span {
  font-size: 24px;
}

.product h2 {
  font-size: 18px;
}

.product-img {
  margin: 20px;
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.product-price {
  padding-top: 20px;
  padding-bottom: 20px;
}

.img-free-shipping {
  margin-left: 10px;
}

.product-location {
  position: absolute;
  right: 10%;
  top: 55px;
}

.product-location p {
 color: #666666;
 font-size: 12px;
}

@media (max-width: 550px) {
  .main-container {
    min-width: 100%;
  }
  
  .product {
    flex-direction: column;
  }

  .product-img img {
    width: 100%;
  }

  .product-info {
    padding: 10px;
  }

  .product-location {
    right: 20px;
  }
}