.main-container {    
  margin: 20px 5% 80px;;
  display: flex;
  justify-content: center;
}

.div-loading {
  display: flex;
  justify-content: center;
  margin: 150px auto;
  flex-direction: column;
  align-items: center;
}

.img-loading img {
  animation: loading infinite 3s linear;
  display: flex;
  flex-direction: column;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div-loading-text {
  margin-top: 30px;
}

.results {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.categories {
  margin: 0 0 20px;
}

.list-categories {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #666666;
  font-size: 14px;
}

.list-categories li {
  display: flex;
}

.list-categories li:last-child {
  font-weight: bold;
}

.list-categories li+li:before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #868e96;
  content: "> ";
}

.list-products {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.product p {
  margin: 0;
  font-size: 18px;
}

.product span {
  font-size: 24px;
}

.product h2 {
  font-size: 18px;
}

.product-img {
  margin: 20px;
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-price {
  padding-bottom: 25px;
}

.img-free-shipping {
  margin-left: 10px;
}

.product-location {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-location p {
 color: #666666;
 font-size: 12px;
}