.main-container {    
  margin: 50px 5% 80px;
  display: flex;
  justify-content: center;
}

.div-loading {
  display: flex;
  justify-content: center;
  margin: 150px auto;
  flex-direction: column;
  align-items: center;
}

.img-loading img {
  animation: loading infinite 3s linear;
  display: flex;
  flex-direction: column;
}

@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div-loading-text {
  margin-top: 30px;
}

.list-products {
  background-color: white;
  width: 1200px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.product p {
  margin: 0;
  font-size: 18px;
}

.product span {
  font-size: 24px;
}

.product h2 {
  font-size: 18px;
}

.product-img {
  margin: 20px;
}

.product-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-price {
  padding-bottom: 25px;
}