.main-container {
  display: flex;
  justify-content: center;
}

.results {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 20px 5% 80px;
}

@media (max-width: 550px) {
  .main-container {
    min-width: 100%;
  }

  .results {
    margin: 20px 0 80px;
  }
}